

.avatar img{
   width: 100px;
}

.welcomeMessage{
   margin-top: 20px;
}

.notes{
   font-style: italic;
   margin-bottom: 30px;
}

.errorMsg{
   font-size: small;
   background-color: #ff7979;
   color: #ffffff;
   border-radius: 5px;
   padding:10px;
}

.successMsg{
   font-size: small;
   background-color: #2ecc71;
   color: #ffffff;
   border-radius: 5px;
   padding:10px;
}